.card-form-title{
 color: #213547;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  background-color:rgb(219, 83, 83);
  border-radius: 7px;
}

.form-add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 7px;
  :hover{

  box-shadow: rgb(255, 132, 71) 0px 0px 10px
}


  input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.select-vendor{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 7px;
    background-color: rgb(255, 132, 71);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(252, 125, 62);
  }

}


