/*  fungerar för desktop */
.form-add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; 
  padding: 20px;
  border-radius: 7px;
  display: flex;
}

input, .select-vendor {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  justify-content: center;
}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 7px;
 
  font-weight: bold;
  cursor: pointer;
}

.error {
  /* statisk färg  */
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

