.home-page {
  text-align: center;
  min-height: 100vh;
}

.card-container {
  margin: 1rem 0;
  display: inline-block;
}

.active-card,
.inactive-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.link-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-align: center;
  background-color: var(--button-background-color); 
  color: var(--button-text-color); 
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

.link-button:hover {
  background-color: var(--button-background-hover);
  text-decoration: none;
}
