.cardPreview-title {
  color: #213547;
}

.preview-wrapper {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: white;
  text-align: left;
  box-shadow: 0 0 10px #eba028;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
}

/* Dynamiska bakgrundsfärger */
.green {
  background-color: #82ca1e;
}

.orange {
  background-color: #fdc129;
}

.blue {
  background-color: #026fc9;
}

.gray {
  background-color: gray;
}
